{{#partial "content"}}
    <p><strong>Name:</strong> {{team.name}}</p>
    <p><strong>Description:</strong> {{team.description}}</p>
    <p><strong>Members:</strong></p>
        <ul>
            {{#each team.members}}
                <p>{{name}}</p>
            {{/each}}
        </ul>

    <form action="/teams/{{team.id}}" method="post">
        <label for="name">Add a new member</label>
        <input id="name" name="name" type="text">
        <button type="submit" class="btn btn-danger">Add!</button>
    </form>

    <br>
    <a href="/teams/{{team.id}}/update">Edit this team name</a>
    <br>
    <a href="/teams/{{team.id}}/delete">Delete this team</a>

{{/partial}}

{{> layout.hbs}}