{{#partial "content"}}
    <p><strong>Name:</strong> {{team.name}}</p>
    <p><strong>Description:</strong> {{team.description}}</p>
    <p><strong>Members:</strong></p>
        <ul>
            {{#each team.members}}
                <li>{{name}}</li>
            {{/each}}
        </ul>

    <form action="/teams/{{team.id}}" method="post">
        <label for="newMember">Add a new member</label>
        <input id="newMember" name="newMember" type="text">
        <button type="submit" class="btn btn-danger">Add!</button>
    </form>

    <br>
    <a href="/teams/{{team.id}}/update">Edit this team name</a>

{{/partial}}

{{> layout.hbs}}