{{#partial "content"}}
    <p><strong>Name:</strong> {{team.name}}</p>
    <p><strong>Description:</strong> {{team.description}}</p>
    <p><strong>Members:</strong></p>
    <p>Click on Members' names to edit/delete</p>
        <ul>
            {{#each members}}
                <p><a href="/teams/{{team.id}}/members/{{id}}">{{name}}</a></p>
            {{/each}}
        </ul>

    <form action="/teams/{{team.id}}" method="post">
        <label for="name">Add a new member</label>
        <input id="name" name="name" type="text">
        <button type="submit" class="btn btn-danger">Add!</button>
    </form>

    <br>
    <a href="/teams/{{team.id}}/update">Edit this team</a>
    <br>
    <a href="/teams/{{team.id}}/delete">Delete this team</a>

{{/partial}}

{{> layout.hbs}}